html  {
    background: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    padding: 20px;
}
body
{
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;animation: fade 1s ease-in;
}
@keyframes fade {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0);}
}
.navbar a {
  color: rgb(254, 189, 189);       
  text-decoration: none; 
  font-weight: bold;   
  font-size: 25px;     
  margin: 0 18px;    
 text-align: right;
}
.navbar a:hover {
  color: #a44444;     
  text-decoration: underline; 
}


.navbar a.active {
    color:#a44444;
    border-bottom: 2px solid #ff6b6b;
}

h1{
    color: #bd6767;
    margin-top: 20px;
    text-align: left;
    font-size: 60px;
    font-weight :bold ;
}
h2{
    text-align: left;
    color: #f0dfdf;
    margin-top: 20px;
}
p{
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: 400;
}
button{
    background-color: #aa4c4c;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor:pointer;
    transition: 0.3s;
    font-size: 20px;
    width: 200px;
    height: 50px;
}

.button a{
  color: rgb(254, 189, 189);       
  text-decoration: none; 
  font-weight: bold ;
  text-align: center ;
  display: flex;
    align-items: center;
    justify-content: center;
}
.buttons {
    display: flex;
      flex-direction: row;
    gap: 15px; 
    justify-content: center; 
    margin-top: 30px; }

button:hover {
    background-color: #bd6767;
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(85, 44, 44, 0.3);
    box-shadow: 0 0 20px #ff6b6b;
}

.profile-img {
  width: 400px;          
  height: 400px;
  margin: 50px auto;     
  border-radius: 50%;   
  overflow: hidden;      
  box-shadow: 0 8px 20px rgba(0,0,0,0.5); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 
}

.profile-img:hover {
  transform: scale(1.1); 
  box-shadow: 0 12px 25px rgba(0,0,0,0.7); 
}

.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



